key_pair_name = "tu-key-pair-name"
db_root_password = "TuClaveRootSegura123"
db_username      = "despacho_app"
db_password      = "TuClaveAppSegura123"
db_name          = "despachodb"
db_volume_size   = 30
